<mat-drawer-container class="example-container" autosize >
  <mat-drawer class="sidebar" mode="side" opened [ngClass]="{ 'expanded': showFiller }">
    <div class="content" style="overflow: hidden;">
      <div class="link pb-4">
        <div class="content" (click)="handleSidebarToggle()">
          <div class="icon pe-2">
            <img src="../../assets/images/search.png">
          </div>
          <div class="title">Carpetes</div>
      </div>
      </div>
      <div *ngFor="let item of TipoPartitura">
        <div class="link">
          <div class="content" (click)="changeIdTipoPartitura(item.IdTipoPartitura)">
            <div class="icon pe-2">
              <img [src]="item.RutaIcono" alt="uau">
            </div>
            <div class="title">{{item.ClaveTipoPartitura}}</div>
        </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">

    <app-list-partituras [IdTipoPartitura]="IdTipoPartitura" [ClaveInstrument]="ClaveInstrument" [ClavePaper]="ClavePaper"></app-list-partituras>

  </div>

</mat-drawer-container>


