<div class="container">

  <!--<p class="h2 text-center my-4">Anyadir nova partitura</p>-->
  <h1 class="display-5 my-5 text-center">Afegir nova partitura</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mt-5">
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput name="nombre" readonly [(ngModel)]="formPartitura.NombrePartitura" />
      <!--<mat-error>El camp Nom es obligatori</mat-error>-->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Instrument</mat-label>
      <!-- <mat-select [value]="selectedValue" name="food"></mat-select> -->
      <mat-select name="ClaveInstrumento" [(ngModel)]="formPartitura.ClaveInstrumento">
        <mat-option *ngFor="let instrument of TipoInstrumentos" [value]="instrument.Clave">
          {{instrument.Instrumento}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Paper</mat-label>
      <!-- <mat-select [value]="selectedValue" name="food"></mat-select> -->
      <mat-select name="ClaveTipoPaper" [(ngModel)]="formPartitura.ClaveTipoPaper">
        <mat-option *ngFor="let TipoPaper of TipoPaperPartitura" [value]="TipoPaper.Clave">
          {{TipoPaper.Nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- TipoPaperPartitura -->

    <div>
      <mat-form-field>
        <div>
          <mat-toolbar>
            <input matInput [value]="fileAttr" readonly />
            <button type="button" mat-raised-button (click)="fileInput.click()">
              Buscar fitxer
            </button>
          </mat-toolbar>

          <input type="file" name="BytesFichero" hidden #fileInput (change)="uploadFileEvt($event)" />
        </div>
      </mat-form-field>
    </div>

    <div>
      <div *ngIf="imagenBase64 && !isPDF" class="w-50 rounded mx-auto">
        <img [src]="imagenBase64" class="rounded img-fluid" />
      </div>

      <div *ngIf="imagenBase64 && isPDF">
        <pdf-viewer [src]="imagenBase64"
        [render-text]="true"
        [original-size]="false"
        style="height: 500px"
></pdf-viewer>
      </div>

    </div>

    <div class="d-flex justify-content-between mt-3">
      <a mat-stroked-button routerLink="/partitures">
        Cancelar
      </a>
      <button mat-flat-button color="primary">
        Guardar
      </button>
    </div>

  </form>
</div>
