
<div class="container mb-5 mt-5 animated fadeInLeft">
  <div class="text-center">
    <img class="col-6 col-xs-6 col-sm-6 col-lg-4 col-xl-3" src="../../assets/images/2bn_1.png" alt="image">
  </div>
  <div class="container mb-5">
    <div class="row">
      <div class="mt-5 mx-auto col-lg-6 col-md-6 col-sm-12 d-grid align-items-stretch">
        <div class="card ">
          <div class="card-body d-grid flex-column">
            <h5 class="card-title d-flex align-items-center">
              <span class="material-icons me-2">queue_music</span>
              Partitures
            </h5>
            <p class="card-text">Llistat dels diferents tipus de partitures organitzats per carpetes.</p>
            <p class="card-text"><small class="text-muted">Pasdobles, Marxes Mores, Cristianes i de processó,
                Xarangues, Concerts...</small></p>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
              <button class="btn btn-primary" type="button" (click)="RedirectPartitures()">Entrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col-lg-4 col-md-6 col-sm-12  d-grid align-items-stretch">
        <div class="card ">
            <div class="card-body d-grid flex-column">
                <h5 class="card-title d-flex align-items-center">
                    <span class="material-icons me-2">queue_music</span>
                    Partitures
                </h5>
                <p class="card-text">Llistat dels diferents tipus de partitures organitzats per carpetes.</p>
                <p class="card-text"><small class="text-muted">Pasdobles, Marxes Mores, Cristianes i de processó,
                        Xarangues, Concerts...</small></p>

                <!-- <button class="btn btn-primary mt-auto align-self-start" type="button">Entrar</button>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                    <button class="btn btn-primary" type="button" (click)="RedirectPartitures()">Entrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-grid align-items-stretch d-none">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title d-flex align-items-center">
                    <span class="material-icons me-2">format_list_bulleted</span>
                    Llistes
                </h5>

                <p class="card-text">Llistat de llistes passades i futures.</p>
                <p class="card-text"><small class="text-muted">Sols es mostrarán llistes amb una antigüetat inferior a 2
                        mesos.</small></p>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                    <button class="btn btn-primary" type="button">Entrar</button>
                </div>

            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-grid align-items-stretch d-none">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title d-flex align-items-center">
                    <span class="material-icons me-2">edit_note</span>
                    Card title
                </h5>
                <p class="card-text">Card per a crear/editar llistes</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                    <button class="btn btn-primary" type="button">Entrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-grid align-items-stretch d-none">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title d-flex align-items-center">
                    <span class="material-icons me-2">portrait</span>
                    Card title
                </h5>
                <p class="card-text">card per a editar els components de la banda.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                    <button class="btn btn-primary" type="button">Entrar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
