<div class="container mb-5 mt-5 animated fadeInLeft">
  <div class="text-center">
    <img class="col-8 col-xs-6 col-sm-6 col-lg-5 col-xl-5" src="../../assets/images/2bn_1.png" alt="image">
  </div>
<div class="container mb-5">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mt-5">

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" name="email" matInput [(ngModel)]="Usuario.email" required email autocomplete="off"/>
            <mat-error *ngIf="f.submitted && f.controls['email'].errors != null && f.controls['email'].errors.required">
                El camp Email es obligatori</mat-error>
            <mat-error *ngIf="f.submitted && f.controls['email'].errors != null && f.controls['email'].errors.email">
                Fica'm un Email vàlid, va</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contrasenya</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="Usuario.password" required minlength="6" autocomplete="off">
            <mat-error
                *ngIf="f.submitted && f.controls['password'].errors != null && f.controls['password'].errors.required">
                El camp Contrasenya es obligatori</mat-error>
            <mat-error
                *ngIf="f.submitted && f.controls['password'].errors != null && f.controls['password'].errors.minlength">
                La Contrasenya ha de tinde al menys 6 caracters</mat-error>
        </mat-form-field>

        <div class="row">
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Nom</mat-label>
              <input type="text" name="nombre" matInput [(ngModel)]="Usuario.nom" required autocomplete="off"/>
          </mat-form-field>
          </div>
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Cognoms</mat-label>
              <input type="text" name="nombre" matInput [(ngModel)]="Usuario.apellidos" required autocomplete="off"/>
          </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <mat-form-field>
              <mat-label>Instrument</mat-label>
              <!-- <mat-select [value]="selectedValue" name="food"></mat-select> -->
              <mat-select name="ClaveInstrumento" [(ngModel)]="Usuario.ClaveInstrument">
                <mat-option *ngFor="let instrument of TipoInstrumentos" [value]="instrument.Clave">
                  {{instrument.Instrumento}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-lg-6">
            <mat-form-field>
              <mat-label>Paper</mat-label>
              <!-- <mat-select [value]="selectedValue" name="food"></mat-select> -->
              <mat-select name="ClaveTipoPaper" [(ngModel)]="Usuario.ClavePaper">
                <mat-option *ngFor="let TipoPaper of TipoPaperPartitura" [value]="TipoPaper.Clave">
                  {{TipoPaper.Nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <section class="example-section">
            <mat-checkbox color="primary" name="LOPDAceptada_form" [(ngModel)]="LOPDAceptada" (ngModelChange)="mostrarLOPD()" required >ACCEPTAR TERMES D'ÚS I POLÍTICA DE PRIVACITAT</mat-checkbox>
          </section>
          <mat-error
                *ngIf="f.submitted && f.controls['LOPDAceptada_form'].errors != null && f.controls['LOPDAceptada_form'].errors.required">
                Accepta la LOPD</mat-error>
        </div>



        <button mat-flat-button color="primary" style="width:100%; height:45px !important" class="mt-3">
            Entrar
        </button>

    </form>
</div>
</div>
